.searchContainer{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0px 25px;
    background-color: rgba(76, 96, 133, .2);
    flex: 1 0 0% !important;

    .searchIcon{
        width: 16px;
        height: 16px;
        margin-right: 12px;
    }

    .searchInput{
        color: #fff;
        font-size: 14px;
        background-color: transparent;
        border: none;
        outline: none;
        width: 100%;
    }
}

@media  (max-width: 992px) {
    .searchContainer {
        
        width: 100%;
    }
}

